 /* Estilização do Bem-Vindo */
 .title {
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: black;
}

/* Estilização da frase motivacional */
.frase {
    height: 15px;
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
    color: #999999;
}

.subTitle {
    font-family: Verdana;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.botao {
    font-size: 12px;
    height: 32px;
    width: 160px;
    border-radius: 8px;
    padding: 9px, 12px, 9px, 12px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 2px;

}

